.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
  background-color: #222131;
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  font-weight: 700;
  font-size: 24px;

  color: #ffffff;
}
.section {
  width: 100%;
  transition: width 0.25s ease-in-out;
  will-change: width;
}

@media (min-width: 1480px) {
  .section__active {
    width: calc(100% - 480px);
  }
}
.modalContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto 1fr auto;
  grid-template-areas: 'first second' 'gender gender' 'school school' 'optional_school optional_school' '_ __' 'add add';
  grid-gap: 1em;
  place-items: center;
  height: 100%;
}
.modalContent button {
  width: 100%;
  grid-area: add;
}
.modalContent--field {
  width: 100%;
}
.modalContent--field__firstName {
  grid-area: first;
}
.modalContent--field__secondName {
  grid-area: second;
}
.modalContent--field__gender {
  grid-area: gender;
}
.modalContent--field__school {
  grid-area: school;
}
.modalContent--field__optional_school {
  grid-area: optional_school;
}
