.container {
  background-color: #222131;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 450px 1fr;
}

.loginPanel {
  background-color: #39394b;
}
.loginPanel--form {
  padding: 45px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
}
.loginPanel--form img {
  width: 150px;
  align-self: center;
  margin-bottom: 1.5em;
}
.heading {
  text-align: center;

  font-size: 26px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1em;
}
.loginPanel--submit button {
  width: 100%;
}
.imagePanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imagePanel svg {
  width: 100%;
  padding: 1.5em;
}
@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .loginPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .loginPanel--form {
    padding: 2em;
    max-width: 100vw;
    width: 450px;
  }
  .imagePanel {
    display: none;
  }
}
