.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
  height: 100%;
  overflow: hidden auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  font-weight: 700;
  font-size: 24px;

  color: #ffffff;
}
.section {
  width: 100%;
  transition: width 0.25s ease-in-out;
  will-change: width;
}

@media (min-width: 1320px) {
  .section__active {
    width: calc(100% - 400px);
  }
}
.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.modalContent--input {
  width: 100%;
}
.modalContent button {
  width: 100%;
}
