.container {
}
.searchNav {
  display: flex;
  align-items: center;
}
.searchNav--search {
  width: 300px;
  max-width: 100%;
}
.searchNav--search > div > div {
  background-color: #39394b;
}

.nav {
  display: grid;
  grid-template-columns: 75px 6fr auto;
  place-items: center start;
  list-style: none;
  padding: 14px 28px;
  padding-right: 30px;
}
.nav--element button {
  cursor: pointer;
  border: none;
  outline: none;

  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  transition: unset;
}
.nav--element button svg {
  fill: white;
  height: 24px;
  width: 24px;
  transition: transform 0.3s ease-in;
}
.asc-dropdown svg {
  transform: rotate(0deg);
}
.desc-dropdown svg {
  transform: rotate(180deg);
}

.elements {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  min-height: 310px;
  min-width: 600px;
  height: calc(100vh - 355px);
  overflow: hidden auto;
  padding-right: 30px;
  /* scroll-snap-type: y mandatory; */
}
.element {
  display: grid;
  grid-template-columns: 75px 6fr auto;
  place-items: center start;

  width: 100%;
  padding: 14px 28px;

  background-color: #39394b;
  border-radius: 10px;

  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  /* scroll-snap-align: start; */
}
.element span {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 10px;
}
.element--more {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  width: 26px;
  height: 26px;
}
.element--more:hover svg,
.element--more:focus svg {
  fill: #605cff;
}
.element--more:active svg {
  fill: #4742fd;
}

.element--more svg {
  width: 100%;
  height: 100%;
  fill: white;
}

.confirmList {
  list-style-type: square;
  margin-left: 1em;
}
.confirmList > li {
  color: #fff;

  font-size: 16px;
  padding: 1em 0.5em;
}
