.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.returnLink {
}
.returnLink svg {
  transform: scale(-1);
}
.navContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
.navContainer h2 {
  color: #fff;
  font-size: 1rem;
}
.nav {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(3, auto);
  background-color: #222131;
  width: 300px;
  border-radius: 10px;
}
.nav button {
  cursor: pointer;
  display: grid;
  place-items: center;

  padding: 14px;
  color: #fff;
  font-size: 14px;
  outline: none;
  border: 2px solid transparent;
  background-color: #39394b;
  transition: all 0.15s ease-out;
}
.nav button:focus {
  border-color: #4742fd;
}
.nav button:first-child {
  border-radius: 10px 0 0 10px;
}
.nav button:last-child {
  border-radius: 0 10px 10px 0;
}
.activeLink {
  background-color: #605cff !important;
}

.loadingContainer {
  z-index: 999;
  position: fixed;
  left: 250px;
  top: 0;

  width: calc(100vw - 250px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222131;
  transition: opacity 0.3s linear;
  transition-delay: 0.3s;
}
.loadingContainer__hide {
  opacity: 0;
}
.loaderBox {
  height: 10px;
  width: 80%;
  position: relative;
  background-color: #39394b;
  border-radius: 10px;
  overflow: hidden;
}
.loaderBox--loader {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-origin: left;
  transform: scaleX(0);
  background-color: #605cff;
  transition: all 0.3s linear;
}
.loadingContainer__error .loaderBox--loader {
  filter: saturate(0.25);
}
.heading {
  width: 80%;
  font-size: 18px;
  text-align: center;
  line-height: 1.5em;
  color: hsl(240, 14%, 40%);
  margin-top: 1em;
}

.loadingContainer__error .heading {
  color: #e26a6d;
}
